.navbar,
.bgblue {
    background-color: #5468ff;
    padding: 15px !important;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: bolder;
}

.text-uppercase {
    color: white;
}

.text-reset {
    text-decoration: none;
    transition: .4s;
}

.text-reset:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white !important;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    color: white !important;
    font-size: 15px;
    text-decoration: none;
    padding: 7px 13px !important;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.active,
.nav-link:hover {
    background-color: #1b9bff;
    transition: .5s;
}


.active {
    color: black !important;
    font-weight: 900;
}

.nav-link {
    color: white;
}